<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397644378970-ql4jhsbq0tfm4u8et65se0hcaee4cjct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397644378970-ql4jhsbq0tfm4u8et65se0hcaee4cjct</string>
	<key>API_KEY</key>
	<string>AIzaSyDz4I7fvFR0YFK7bKAJiSYTjdFg7boLIxs</string>
	<key>GCM_SENDER_ID</key>
	<string>397644378970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isppg8.findmyfun</string>
	<key>PROJECT_ID</key>
	<string>findmyfun-c0acc</string>
	<key>STORAGE_BUCKET</key>
	<string>findmyfun-c0acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397644378970:ios:3cee2cb7e6bea2462ef963</string>
</dict>
</plist>